/Assessment/src/Presentation/Assessment.Presentation.App/obj/*
/Assessment/src/Presentation/Assessment.Presentation.App/bin/*
/Assessment/src/Core/Assessment.Core.Interfaces/obj/*
/Assessment/src/Core/Assessment.Core.Interfaces/bin/*
/Assessment/src/Core/Assessment.Core.Services/obj/*
/Assessment/src/Core/Assessment.Core.Services/bin/*
/Assessment/src/Core/Assessment.Core.DTOs/obj/*
/Assessment/src/Core/Assessment.Core.DTOs/bin/*
/Assessment/src/Core/Assessment.Core.Entities/obj/*
/Assessment/src/Core/Assessment.Core.Entities/bin/*
/Assessment/src/Core/Assessment.Core.Extensions/obj/*
/Assessment/src/Core/Assessment.Core.Extensions/bin/*
/Assessment/src/Core/Assessment.Core.ViewModels/obj/*
/Assessment/src/Core/Assessment.Core.ViewModels/bin/*
/Assessment/src/Infrastructure/Assessment.Infrastructure.Persistence/obj/*
/Assessment/src/Infrastructure/Assessment.Infrastructure.Persistence/bin/*
/Assessment/tests/UnitTests/Assessment.Core.UnitTests/obj/*
/Assessment/tests/UnitTests/Assessment.Core.UnitTests/bin/*
