/Assessment/Presentation/Assessment.Presentation.App/obj/*
/Assessment/Presentation/Assessment.Presentation.App/bin/*
/Assessment/Core/Assessment.Core.Interfaces/obj/*
/Assessment/Core/Assessment.Core.Interfaces/bin/*
/Assessment/Core/Assessment.Core.Services/obj/*
/Assessment/Core/Assessment.Core.Services/bin/*
/Assessment/Core/Assessment.Core.DTOs/obj/*
/Assessment/Core/Assessment.Core.DTOs/bin/*
/Assessment/Core/Assessment.Core.Entities/obj/*
/Assessment/Core/Assessment.Core.Entities/bin/*
/Assessment/Core/Assessment.Core.Extensions/obj/*
/Assessment/Core/Assessment.Core.Extensions/bin/*
/Assessment/Core/Assessment.Core.ViewModels/obj/*
/Assessment/Core/Assessment.Core.ViewModels/bin/*
/Assessment/Infrastructure/Assessment.Infrastructure.Persistence/obj/*
/Assessment/Infrastructure/Assessment.Infrastructure.Persistence/bin/*
