/Assessment/src/Presentation/Assessment.Presentation.App/obj/*
/Assessment/src/Presentation/Assessment.Presentation.App/bin/*
/Assessment/src/Core/Assessment.Core.Interfaces/obj/*
/Assessment/src/Core/Assessment.Core.Interfaces/bin/*
/Assessment/src/Core/Assessment.Core.Services/obj/*
/Assessment/src/Core/Assessment.Core.Services/bin/*
/Assessment/src/Core/Assessment.Core.DTOs/obj/*
/Assessment/src/Core/Assessment.Core.DTOs/bin/*
/Assessment/src/Core/Assessment.Core.Entities/obj/*
/Assessment/src/Core/Assessment.Core.Entities/bin/*
/Assessment/src/Core/Assessment.Core.Extensions/obj/*
/Assessment/src/Core/Assessment.Core.Extensions/bin/*
/Assessment/src/Core/Assessment.Core.ViewModels/obj/*
/Assessment/src/Core/Assessment.Core.ViewModels/bin/*
/Assessment/src/Infrastructure/Assessment.Infrastructure.Persistence/obj/*
/Assessment/src/Infrastructure/Assessment.Infrastructure.Persistence/bin/*
/Assessment/tests/UnitTests/Assessment.Core.UnitTests/obj/*
/Assessment/tests/UnitTests/Assessment.Core.UnitTests/bin/*
/Assessment/.vs/Assessment/v16/.suo
/Assessment/src/Core/Assessment.Core.DTOs/obj/Debug/netstandard2.0/Assessment.Core.DTOs.assets.cache
/Assessment/src/Core/Assessment.Core.Entities/obj/Debug/netstandard2.0/Assessment.Core.Entities.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/bin/Debug/netstandard2.0/Assessment.Core.Enums.deps.json
/Assessment/src/Core/Assessment.Core.Enums/bin/Debug/netstandard2.0/Assessment.Core.Enums.dll
/Assessment/src/Core/Assessment.Core.Enums/bin/Debug/netstandard2.0/Assessment.Core.Enums.pdb
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.AssemblyInfo.cs
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.AssemblyInfoInputs.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.csproj.CoreCompileInputs.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.csproj.FileListAbsolute.txt
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.dll
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.pdb
/Assessment/src/Core/Assessment.Core.Enums/obj/project.nuget.cache
/Assessment/src/Core/Assessment.Core.Extensions/obj/Debug/netstandard2.0/Assessment.Core.Extensions.assets.cache
/Assessment/src/Core/Assessment.Core.Interfaces/obj/Debug/netstandard2.0/Assessment.Core.Interfaces.assets.cache
/Assessment/src/Core/Assessment.Core.Services/obj/Debug/netstandard2.0/Assessment.Core.Services.assets.cache
/Assessment/src/Core/Assessment.Core.ViewModels/obj/Debug/netstandard2.0/Assessment.Core.ViewModels.assets.cache
/Assessment/.vs/Assessment/v16/.suo
/Assessment/src/Core/Assessment.Core.DTOs/obj/Debug/netstandard2.0/Assessment.Core.DTOs.assets.cache
/Assessment/src/Core/Assessment.Core.Entities/obj/Debug/netstandard2.0/Assessment.Core.Entities.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.csproj.FileListAbsolute.txt
/Assessment/src/Core/Assessment.Core.Extensions/obj/Debug/netstandard2.0/Assessment.Core.Extensions.assets.cache
/Assessment/src/Core/Assessment.Core.Interfaces/obj/Debug/netstandard2.0/Assessment.Core.Interfaces.assets.cache
/Assessment/src/Core/Assessment.Core.Services/obj/Debug/netstandard2.0/Assessment.Core.Services.assets.cache
/Assessment/src/Core/Assessment.Core.ViewModels/obj/Debug/netstandard2.0/Assessment.Core.ViewModels.assets.cache
/Assessment/.vs/Assessment/v16/.suo
/Assessment/src/Core/Assessment.Core.DTOs/obj/Debug/netstandard2.0/Assessment.Core.DTOs.assets.cache
/Assessment/src/Core/Assessment.Core.Entities/obj/Debug/netstandard2.0/Assessment.Core.Entities.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.assets.cache
/Assessment/src/Core/Assessment.Core.Enums/obj/Debug/netstandard2.0/Assessment.Core.Enums.csproj.FileListAbsolute.txt
/Assessment/src/Core/Assessment.Core.Extensions/obj/Debug/netstandard2.0/Assessment.Core.Extensions.assets.cache
/Assessment/src/Core/Assessment.Core.Interfaces/obj/Debug/netstandard2.0/Assessment.Core.Interfaces.assets.cache
/Assessment/src/Core/Assessment.Core.Services/obj/Debug/netstandard2.0/Assessment.Core.Services.assets.cache
/Assessment/src/Core/Assessment.Core.ViewModels/obj/Debug/netstandard2.0/Assessment.Core.ViewModels.assets.cache
